pkgbase = sioyek-mupdf-fix
	pkgdesc = PDF viewer for research papers and technical books
	pkgver = 2.0.0
	pkgrel = 1
	url = https://github.com/ahrm/sioyek
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = harfbuzz
	makedepends = python
	makedepends = unzip
	depends = qt5-base
	depends = qt5-3d
	depends = glu
	depends = libxrandr
	provides = sioyek
	conflicts = sioyek
	conflicts = sioyek-git
	conflicts = sioyek-appimage
	source = sioyek::git+https://github.com/ahrm/sioyek.git#tag=v2.0.0
	sha256sums = SKIP

pkgname = sioyek-mupdf-fix
